@font-face {
  font-family: "Adventure";
  src: url("../Fonts//Adventure.ttf.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "Alphakind";
  src: url("../Fonts//Alphakind.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Almond Nougat";
  src: url("../fonts/AlmondNougat.otf") format("opentype");
}
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

:root {
  --font-family-nav: "Adventure", sans-serif;
  --font-family-1: "Alphakind", sans-serif;
  --font-family-2: "Amatic SC", sans-serif;
    --font-family-3: "Almond Nougat", sans-serif;
  --primary: #1ab9ff;
  --secondary: #ff6f96;
  --text: #343f3c;
  --accent:#ff6f96 ;
  --white-color: #fff;
  --blue-color: #32355d;
}
h1{
  font-family: var(--font-family-1) !important;
  text-transform: uppercase;
  font-size: 54px !important;
}

body {
  font-family: var(--font-family-nav) !important;
}
.bg-custom-blue{
  background-color: var(--primary) !important;
}
a{
  color: var(--white-color) !important;
}
.nav>li>a:focus, .nav>li>a {
    transition: 0.5s ease-out;

}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent !important;
    transform: translateY(-5px);
    transition: 0.5s ease-out;
}
.navbar{
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}
.navbar-toggle{
  background-color: var(--white-color) !important;
}
.navbar-toggle .icon-bar {
    background-color: var(--primary);
}
.left-box h3{
  background-image: url('../img//Shape-1.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline;
  padding: 12px 17px;
  color: var(--white-color);
  font-weight: 300;
  font-size: 36px !important;
} 
.banner-wrapper .row{
  display: flex;
  align-items: center;
}
#main-banner{
  background: url(../img//banner-1.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.left-box h1::after{
content: "";
    background: url(../img/arrow.png) no-repeat;
    width: 24%;
    height: 36%;
    position: absolute;
    display: inline;
    top: 61%;
    right: 12%;
    scale: 1;
}
.left-box h1{
  margin-bottom: 25px !important;
      font-size: 78px !important;
}
.video{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.video img{
      cursor: pointer;
}
.banner-wrapper .row div:nth-child(2)>figure{
  margin-top: 30px;
}
#love-animation{
    background: url(../img//bg-shape.png);
    background-repeat: no-repeat;
    background-position: -5%;
    background-size: contain;
    padding: 60px 0px;
    margin-top: 100px;
    position: relative
}
.love-section img{
  scale: 1;
  margin-top: -110px;
}
.love-section-right h3{
  font-family: var(--font-family-3);
  color: var(--secondary);
  font-size: 50px !important;
  position: relative
}
.love-section-right h3::after{
content: "";
    background: url(../img/right-shape.png);
    width: 18%;
    height: 144%;
    position: absolute;
    background-repeat: no-repeat;
        scale: 0.4;
            top: -8px;
            right: 14%;

}
.love-section-right h3::before{
content: "";
    background: url(../img/left-shape.png);
    width: 18%;
    height: 144%;
    position: absolute;
    background-repeat: no-repeat;
    left: 14%;
    top: -8px;
    scale: 0.4;

}
.love-section-right h2{
  font-family: var(--font-family-2);
  font-weight: 600;
      font-size: 65px !important;
      line-height: 70px;
}
.love-section-right p{
     font-family: var(--font-family-2);
    font-weight: 500;
    font-size: 18px;
    padding: 0px 80px;
    margin-top: 20px;
}
#courses{
  padding: 120px 0px;
}

#courses .course-slider{
   background: url(../img/birds.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}
#courses h2{
  font-family: var(--font-family-3);
  font-size: 60px !important;
      margin-bottom: 100px;
}

#courses figure {
   position: relative;
    display: inline-block; 
    width: 200px; 
    height: 200px; 
    clip-path: circle(50% at 50% 50%);
    overflow: hidden;
}
figure img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.swiper-container {
    overflow: hidden;
    max-width: 1400px;
    margin: 0 auto;
}
.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 20px !important;
  padding: 15px 20px;
  border-radius: 30px;
  background-color: var(--secondary);
  color: var(--white-color);
}
.course-slider .swiper-slide .card-body{
   display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px !important;
}
.course-slider .swiper-slide h4 {
    padding: 0px 40px;
    font-family: var(--font-family-3);
    font-size: 30px;
}
.course-slider .swiper-slide p {
    padding: 0px 40px;
    font-family: var(--font-family-2);
}
.swiper-wrapper .swiper-slide:nth-child(1) .card-body span{
    border: 1px dashed #e1e595;
    border-radius: 110px;
    padding: 10px;
}
.swiper-wrapper .swiper-slide:nth-child(3) .card-body span{
    border: 1px dashed #e1e595;
    border-radius: 110px;
    padding: 10px;
}
.swiper-wrapper .swiper-slide:nth-child(4) .card-body span{
    border: 1px dashed #9fdbd7;
}

.swiper-wrapper .swiper-slide:nth-child(2) .card-body figure {
  clip-path: inset(4% 5% 3% 4%) !important;
}
.swiper-wrapper .swiper-slide:nth-child(4) .card-body figure {
  clip-path: inset(4% 5% 3% 4%) !important;
}
.swiper-wrapper .swiper-slide:nth-child(4) .card-body span {
     border: 1px dashed var(--primary);
     transform: rotate(27deg);
     margin-bottom: 40px;
}
.swiper-wrapper .swiper-slide:nth-child(2) .card-body span{
     border: 1px dashed #ff7599;
     transform: rotate(27deg);
     margin-bottom: 40px;
}


.swiper-wrapper > .swiper-slide:nth-child(2n) {
    margin-top: 50px;
}
#pricing h2{
  font-family: var(--font-family-3);
  font-size: 60px !important;
  color: var(--blue-color);
}
li{
  list-style-type: none;
}
.price-container{
  max-width: 1400px ;
  margin: 0 auto;
}
.price-box-main{
  position: relative
}
.price-box-main .price-box{
  background-color: var(--secondary);
  padding: 10px;
     border-radius: 100px 0px 0px 0px;
}
.price-box-main .price-box .price-card{
  background-color: var(--white-color);
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px;
      border-radius: 100px 0px 0px 0px;
}
.price-box-main h4{
  font-family: var(--font-family-3);
  font-size: 40px;
}
.price-box-main hr {
    border-top: 3px solid #f86c92 !important;
}
.price-box-main ul{
  padding-left: 0px !important;
  margin-bottom: 30px;
}
.price-box-main ul li{
  padding: 10px 0px;
      font-size: 20px;
      font-family: var(--font-family-2);
}
.price-box-main ul li span{
  padding-left: 20px;
}
.price-inner button{
  text-align: center;
  border: 2px solid #000;
  padding: 8px 25px;
  background-color: var(--accent);
  color: #000000;
  font-family: var(--font-family-3);
  font-size: 20px;
}
.price-paragraph{
  padding: 10px 10px 0px 10px;
  margin: 0px !important;
}
.custom-price{
      width: 33%;
    background: var(--secondary);
    padding: 20px 16px;
    border-radius: 100px;
    text-align: center;
}
.custom-price h6{
  font-size: 14px;
  font-weight: 600;
  color: #000000;
    font-family: var(--font-family-2);
}
.custom-price span{
  font-size: 30px;
  color: #000000;
    font-family: var(--font-family-2);
}
.custom-price p{
  color: #000000;
  font-family: var(--font-family-2);
  font-weight: 600;
}


@media (min-width: 1600px){
  .container {
    width: 1680px !important;
}
}
